html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  padding-bottom: 60px;
  /* Espaço para o footer */
}

footer {
  background-color:rgb(123, 63, 0) ;
  color: white;

}
footer .nav-link {
    color: white; /* ou a cor que você preferir */
}